/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --backgroundURL: url(./../resources/backgroundCafe.jpg);
  --backgroundColor: #1A1325;
  --mainTextColor: white;
  --glassEffect: blur(10px) brightness(60%);
  --transitionTime: 300ms;
}

/* Classes presets */
.round-button {
  text-align: center;
  border: none;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 20px;
  color: white;
  transition: color var(--transitionTime), background-color var(--transitionTime);
  font-weight: 400;
}

.round-button:hover {
  /* background-color: rgb(70, 70, 70); */
  background-color: rgba(255,255,255,0.2);
}

.round-button:active {
  background-color: white;
  color: black;
  transform: translateY(5px);
  transition: none;
}

.round-button span, .round-button svg, .round-button:hover span, .round-button:hover svg {
  color: inherit;
  pointer-events: none;
}

.round-button span, .round-button:hover span, .round-button:active span {
  margin-left: 5px;
}

textarea {
  resize: none;
}

/* The Main CSS */

.the-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* Header CSS */
header {
  margin: 0;
}

.inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 auto;
  width: 800px;
  padding: 0px 20px;
  backdrop-filter: var(--glassEffect);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.brand {
  color: white;
  margin: 0;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 38px;
  font-weight: 300;
  text-shadow: 1px 1px 20px black;
}

.app-description {
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 20px black;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: stretch;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  display: flex;
  align-items: stretch;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 1px 1px 20px black;
  transition: color .3s, background-color .3s;
  cursor: pointer;
}

.nav-item button {
  display: flex;
  align-items: center;
  /* color: white;
  font-size: 14px;
  text-decoration: none; */
  overflow: hidden;
  /* text-shadow: 1px 1px 20px black; */
  /* margin-left: 5px; */
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  text-shadow: inherit;
  background: none;
  border: none;
  padding: 20px;
  font-weight: 300;
}

.nav-item button span {
  margin-left: 8px;
}

.nav-item:hover {
  color: white;
  text-shadow: none;
  background-color: rgba(255,255,255,0.1);
  transition: color .3s, background-color .3s;
}

.nav-item:active {
  background-color: rgba(255,255,255,0.2);
  transition: color .3s, background-color .3s;
}

.nav-item a {
  display: flex;
  align-items: center;
  /* color: white;
  font-size: 14px;
  text-decoration: none; */
  overflow: hidden;
  /* text-shadow: 1px 1px 20px black; */
  /* margin-left: 5px; */
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  text-shadow: inherit;
}

.nav-item a span {
  margin-left: 5px;
}

/* Background CSS */
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgb(0,0,0); */
  background-image: var(--backgroundURL);
  /* background-color: var(--backgroundColor); */
  filter: brightness(0.5);
  z-index: -9999;
  background-size: cover;
  /* overflow: auto; */
  /* margin: none;
  padding: none; */
  /* height: 100%; */
}

.home-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
}
/* Timer CSS */
.timer {
  /* transform: translateY(-25%); */
  /* margin: 0 auto; */
  margin-top: 15%;
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
  width: 600px;
  backdrop-filter: var(--glassEffect);
  /* background-color: white; */
  border-radius: 10px;
  /* border: 1px solid white; */
  padding: 0 50px;
}

.timer-selection, .timer-control {
  display: flex;
  /* align-content: stretch; */
}

.timer-button {
  color: white;
  flex-grow: 1;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 20px;
  background-color: rgba(0,0,0,0);
  text-shadow: 1px 1px 20px black;
  text-align: center;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  border: none;
}

.timer-button:hover {
  background-color: rgba(255,255,255,0.1);
}

.timer-button:active {
  background-color: rgba(255,255,255,0.2);
}

/* .timer-button-select {

}

.timer-button-control {

} */

.timer-display {
  font-size: 180px;
  text-align: center;
  /* color: #E3D0DB; */
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* Prevents element from becoming event.target when clicked */
.no-events {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.remaining-todos {
  margin-top: 50px;
  padding: 25px 50px;
  width: 600px;
  backdrop-filter: var(--glassEffect);;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-content: stretch;
  font-size: 14px;
}

.left-portion {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.upper-portion {
  display: inline-flex;
  flex-wrap: nowrap;
}

.upper-portion h3{
  font-size: 16px;
}

.right-portion {
  display: flex;
  padding-left: 50px;
  border-left: 1px solid white;
}

.right-portion button{
  margin: auto 0;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  transition: color .3s, background-color .3s;
}

.right-portion button:hover {
  background-color: rgba(255,255,255,0.2);
  transition: color .3s, background-color .3s;
}

.right-portion button:active {
  color: black;
  background-color: rgba(255,255,255,1);
  transform: translateY(5px);
  transition: color .3s, background-color .3s;
}
.upper-portion {
  display: inline;
}

.todo-list {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  max-width: 850px;
}

.todo-title-and-time h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  text-align: left;
  flex-grow: 1;
}

.todo-title-and-time span {
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  flex-grow: 1;
}

.todo-right button{
  margin: auto 0;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  transition: color .3s, background-color .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-right button:hover {
  background-color: rgba(255,255,255,0.2);
}

.todo-right button:active {
  color: black;
  transform: translateY(5px);
  background-color: rgba(255,255,255,1);
  /* transition: transform .3s, background-color .3s, color .3s; */
  transition: none;
}

.todo-right button:active svg, .todo-right button:active span {
  color: inherit;
}

/* .todo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.todo-buttons button {
  margin-right: 10px;
}

.todo-timer {
  width: 300px;
  padding: 0;
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  backdrop-filter: var(--glassEffect);;
  border-radius: 10px;
  border: 2px solid white;
}

.add-todo  {
  width: 100%;
  max-width: 800px;
  /* flex-grow: 1; */
  display: flex;
  /* flex-flow: column wrap; */
  backdrop-filter: var(--glassEffect);;
  padding: 25px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: rgba(255,255,255,0);
  /* border: none; */
  justify-content: center;
  align-items: center;
  border: 2px dashed rgba(255,255,255,0.2);
  transition: background-color var(--transitionTime), border var(--transitionTime);
}

.add-todo:hover {
  border: 2px dashed white;
  background-color: rgba(255,255,255,0.1);
  transition: background-color var(--transitionTime), border var(--transitionTime);
}

.add-todo:active {
  transform: translateY(5px);
}

.plus-sign {
  text-align: center;
  border: none;
  font-size: 14px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .3s, background-color .3s;
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0;
}

/* .plus-sign:active {
  background-color: white;
  transform: translateY(5px);
  transition: background-color var(--transitionTime), border var(--transitionTime);
} */

.todo-edit {
  width: 100%;
  max-width: 800px;
  backdrop-filter: var(--glassEffect);;
  padding: 25px 50px;
  border-radius: 10px;
}

/* .due-text {
  color: gray;
  margin: 0 0 25px 0;
} */

.todo-edit {
  margin-bottom: 25px;
  border: 2px dashed rgba(255,255,255,0.2);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.todo-edit form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.specify-time {
  display: grid; 
  grid-template-columns: 60px 60px 60px max-content 1fr; 
  grid-template-rows: 1fr auto; 
  /* gap: 0px 0px;  */
  grid-column-gap: 25px;
  grid-row-gap: 0;
  grid-template-areas: 
    "Hrs Min Sec Label-Date Input-Date"
    "Time-Error Time-Error Time-Error . Due-Date-Error"; 
}

.label-hrs {
  grid-area: Hrs;
}

.label-min {
  grid-area: Min;
}

.label-sec {
  grid-area: Sec;
}

.label-due-date {
  grid-area: Label-Date;
}

.input-due-date {
  grid-area: Input-Date;
}

.error-time {
  grid-area: Time-Error;
}

.error-due-date {
  grid-area: Due-Date-Error;
}

.form-buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
}

.task-title-input, .task-description-input {
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.input-error {
  margin: 0;
  padding: 5px 15px;
  color: red;
  font-size: 14px;
}
.form-input {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  border: none;
  padding: 16px 15px;
  color: white;
  font-size: 14px;
}

.form-label {
  line-height: 50px;
}

.form-buttons button {
  margin-right: 10px;
}

.label-hidden {
  display: none;
}

.todo-edit-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 25px 0;
  padding: 0;
}

.todo_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo_item {  
  flex: 1 1 0px;
  max-width: 800px;
  border-radius: 10px;
  backdrop-filter: var(--glassEffect);
  margin: 0 0 25px 0;
  padding: 25px 50px;
  display: grid;
  grid-template-columns: max-content 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "todo_title todo_title todo_title todo_time todo_complete"
    "todo_due_date todo_due_date todo_due_date todo_due_date todo_complete"
    "todo_description todo_description todo_description todo_description todo_complete"
    "todo_buttons todo_buttons todo_buttons todo_buttons todo_complete";
}

.todo_complete { 
  grid-area: todo_complete; 
  margin-left: 50px;
  padding-left: 50px;
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo_complete button {
  margin: auto 0;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  transition: color .3s, background-color .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_complete button:hover {
  background-color: rgba(255,255,255,0.2);
}

.todo_complete button:active {
  color: black;
  transform: translateY(5px);
  background-color: rgba(255,255,255,1);
  /* transition: transform .3s, background-color .3s, color .3s; */
  transition: none;
}

.todo_complete button:active svg, .todo_complete button:active span {
  color: inherit;
}

.todo_title { 
  grid-area: todo_title; 
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.todo_time { 
  grid-area: todo_time;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0; 
  text-align: right;
}

.todo_due_date { 
  grid-area: todo_due_date;
  font-size: 16px;
  color: gray;
  margin: 0 0 25px 0;
}

.todo_description { 
  grid-area: todo_description; 
  color: white;
  font-size: 16px;
  margin: 0 0 25px 0;
  padding: 0;
}

.todo_buttons { 
  grid-area: todo_buttons; 
  display: flex;
  flex-direction: row;
}

.todo_buttons button {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.todo_active {
  border: 2px solid white;
}

.userpage {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
}


.signup {
  margin: 25px 0 0 0 ;
  padding: 25px;
  backdrop-filter: var(--glassEffect);
  border-radius: 10px;
  /* display: grid; 
  grid-template-columns: max-content;
  justify-items: center; */
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
}

.signup h3 {
  text-align: center;
  margin: 0;
}

.login-label {
  margin: 25px auto 5px 5px;
}

.sign-in-button {
  margin: 45px 0 0 0;
  padding: 16px 15px;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
}